<ul class="profentries"> 
	<%= render @user.profiles %>
</ul>
<%= link_to 'Crear nuevo Perfil', new_profile_path, :class => 'btn btn-primary', :remote => true %>
<a href="#profilesHelp" role="button" class="btn btn-info" data-toggle="modal">Ayuda</a>
