
	<div class="accordion-body collapse in">
		<div class="accordion-inner">
			<ul class="entries"> 
				<%= render @user.profiles %>
				<div class="span6 offset1">
					<li> 
						<!-- Icono -->
						<span class="icon"> <%= image_tag("scene.png", :ratio => ".3")%></span>
						
						<!-- Nombre -->
						<span class="title">Agregar nuevo perfil</span>
						<!-- Input Controlador AJAX -->
						<div class="new">
							<%= link_to 'Crear Perfil', new_profile_path, :class => 'btn btn-primary', :remote => true %>
						</div>
									
					</li>
				</div>
			</ul>
		</div>
	</div>