
$('#profiles').empty();

$('#profiles').html("<h3>Crear nuevo Perfil</h3>").append("<%= escape_javascript(render('form')) %>");

$('#profiles').append("<%= escape_javascript(link_to 'Back', :back) %>");