$('#notice').empty();
<% if flash[:error] != ""%>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "No hemos encontrado un usuario con el correo especifiado."%></span></div>');
<%elsif flash[:notice] != ""%>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "Le hemos enviado un código a su correo para que cambie su contraseña."%></span></div>');
$('#recover').empty();
$('#recover').append('<%= j render "formreset" %>');
<%end%>


