
<div class="span5 offset1">
	<h2> Recuperaci&oacute;n de contraseña </h2>
</div>	

<div class="span9 offset5">	
	
	<!--< -->

	<table>
		<%= form_tag url_for(:controller=>"sessions", :action=>"recieve_code"),:remote=>true do%>
		
			<tr>
				<div id="notice">	</div>
			</tr>
			
			<tr> 
		  		<td><%= text_field_tag :email, params[:email], :placeholder => 'Ingresa tu correo', :required => "true" %></td>
			</tr>
		   	<tr>  			
		  		<td> <%= submit_tag "Enviar codigo" , :disable_with => 'Enviando...',:class=>"btn btn-primary" %> </td>
			</tr>  
		<%end%>
	</table>
</div>