<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Recuperación Contraseña de iHome</h1>
    <p>
      Para recuperar la contraseña debes ingresar el siguiente código: <br/>
      Código: <%= @user.code %><br/>
    </p>
    <p>Esperamos haberte ayudado !</p>
  </body>
</html>