<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido <%= @user.name %></h1>
    <p>
      Se te ha creado una cuenta para empezar a utilizar iHome. <br/> 
      <a href="<%=@url %>">Haz click aquí</a> para ingresar a nuestro sistema.<br/>
      Tus credenciales son: <br/>
      Correo: <%= @user.email %><br/>
      Password: <%= @password %>
    </p>
    <p>Gracias por utilizar nuestros servicios !</p>
  </body>
</html>