<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido <%= @user.name %></h1>
    <p>
      Desde este momento puedes comenzar a vivir la experiencia iHome haciendo <a href="<%=@url %>">click aquí.</a> <br/> 
      Para acceder a tu cuenta, sólo debes ingresar: <br/>
      Usuario: <%= @user.email %><br/>
      Contraseña: <%= @password %>
    </p>
    <p>iHome, tu hogar inteligente al alcance de todos!</p>
  </body>
</html>