<p>
  <b>Dirección:</b>
  <%= house.address %>
</p>

<p>
  <b>ID:</b>
  <%= house.id %>
</p>
 
<p>
  <%= link_to 'Destroy House', [house],
               :confirm => 'Are you sure?',
               :method => :delete ,
               :remote => true %>
</p>