	<h1>Usuarios</h1>
	
	<table class="table table-striped">
	  <tr>
	    <th>Correo</th>
	    <th>Nombre</th>
	    <th></th>
	    <th></th>
	  </tr>
	 
	<% @users.each do |user| %>
  	<% if user.isAdmin == false %>
		  <tr>
		    <td><%= user.email %></td>
		    <td><%= user.name %></td>
		    <td><%= link_to 'Editar', edit_user_path(user), :remote=>true %></td>
		    <td><%= link_to 'Eliminar', user, :confirm => '¿Estás seguro?',
		                                     :method => :delete, :remote=>true %></td>	   	
		  </tr>
	  <%end%>
	<% end %>
	</table>
	
	<br />		


