<%= form_for(@ibox) do |f| %>
  <% if @ibox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ibox.errors.count, "error") %> prohibited this ibox from being saved:</h2>

      <ul>
      <% @ibox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
