$('#iboxes').empty();

$('#iboxes').html("<h1>Se agrego el siguiente Ibox al sistema:</h1>");  

$('#iboxes').append("<%= escape_javascript(@ibox.name) %>");  

$('#iboxes').append("<%= escape_javascript(link_to 'Back', :back) %>");

