alert("jaja");
$('#iboxes').empty();
$('#iboxes').append('<%=j render 'shared/flash_messages' %>');
$('#iboxes').append('<div class="span8 offset1">');
$('#iboxes').append('<%=j render 'iboxes/enable' %>');
$('#iboxes').append('</div>');
