$('#iboxes').empty();
$('#iboxes').append('<div class="span8 offset2" style="color:#FF0000;"><%=flash[:notice] %></div>');
$('#iboxes').append('<div class="span8 offset1">');
$('#iboxes').append('<%=j render 'iboxes/enable' %>');
$('#iboxes').append('</div>');
