<% content_for :accessories do%>

<h1>Editing accessory_type</h1>

<%= render 'form' %>

<%= link_to 'Show', @accessory_type, :remote => true %> |
<%= link_to 'Back', accessory_types_path, :remote => true %>

<%end%>
