<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> -->
      <!--<a class="brand" href="#"></a> -->
			<%= image_tag("ihome_logo.jpg", :size => "120x120")%>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> Username
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><%=link_to "Sign Out",:controller => "user",:action => "signout" %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">ibox1</a></li>
          <li class="divider"></li>
          <li><a href="#">ibox2</a></li>
        </ul>
      </div>
      <!--<div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div> --> <!--/.nav-collapse -->
    </div>
  </div>
</div>
<% end %>

<div class="row-fluid">
	<div class="span3">
	  <div class="well sidebar-nav">
	    <ul class="nav nav-list">
	      <li class="nav-header">Control de accesorios</li>
	      <li class="active"><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li class="nav-header">Sidebar</li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li class="nav-header">Sidebar</li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li class="nav-header">Sidebar</li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	    </ul>
	  </div><!--/.well -->
	</div><!--/span-->
	<div class="span9">
	  <div class="hero-unit">
	   <h1>Hello, Rails!</h1>
           <%= link_to "Houses!", houses_path %>
	  </div>
	  
	</div><!--/span-->
</div><!--/row-->
