ul.entries{list-style:none;}
ul.entries li {
  margin: 5px 20px;
  width: 80%;
  
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

ul.entries .icon {
  margin-top: 0px;
  float: left;
  width: 30px;
  margin-top: -16px;
  
}

ul.entries .title {
  margin-top: 0px;
  float: left;
  margin-left: 20px;
  width: 200px;
  
  font-size: 18px;
  line-height: 1px;
  letter-spacing: 0px;
  color: inherit; 
}

ul.entries .on_off {
  margin-top: -12px;
  float: right;
  margin-right: 130px;
  width: 10px;

  /* todo: color, background + padding-left declarations for thumb icons */
}

ul.entries .action {
  margin-top: -12px;
  float: right;
  margin-right: 130px;
  width: 0px;
  /* todo: color, background + padding-left declarations for thumb icons */
}


