ul.entries { list-style: none; }
ul.entries li {
  margin: 5px 50px;
  width: 600px;
  
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
ul.entries .title {
  margin-top: 0px;
  float: left;
  width: 150px;
  
  font-size: 18px;
  line-height: 1px;
  letter-spacing: -1px;
  color: inherit; 
}

ul.entries .on_off {
  margin-top: -12px;
  float: right;
  margin-right: 100px;
  width: 10px;

  /* todo: color, background + padding-left declarations for thumb icons */
}

ul.entries .action {
  float: middle;
  t: middle;
  margin-top: 5px;
  margin-left: 0px;
  width: 0px;
  /* todo: color, background + padding-left declarations for thumb icons */
}




