	<script type="text/javascript" charset="UTF-8">	
	/*$(function(){
		if(search == true){
			alert("s");
			$("#search-election").attr("checked",true);
			$("#create-election").removeAttr("checked",false);
			$("#list-election").attr("checked",false);
			buscar();
		}else if(create == true){
			alert("c");
			$("#search-election").attr("checked",false);
			$("#create-election").attr("checked",true);
			$("#list-election").attr("checked",false);
			crear();
		}else if(list == true){
			alert("l");
			$("#search-election").attr("checked",false);
			$("#create-election").attr("checked",false);
			$("#list-election").attr("checked",true);
			listar();
		}
	}); */
	function crear(){
		$('#division').empty();
		$('#division').append('<%= link_to "Crear Ibox", new_ibox_path, :remote => true %>');
		/*create = true;
		list = false;
		search = false;*/
	}
	
	function buscar(){
		$('#division').empty();
		$('#division').append('<%= j render "homeadmin/searchIboxForm"%>');
		/*create = false;
		list = false;
		search = true;*/
	}
	
	function listar(){
		$('#division').empty();
		$('#division').append('<%= j render "iboxes/allInactives"%>');
		/*create = false;
		list = true;
		search = false;*/
	}
</script>
<%= render "shared/flash_messages" %>
Seleccione una opción.
<div id ="options">
	<input type="radio" id ="search-election" name ="class" value="buscar" onclick="buscar();" /> Buscar Ibox por correo.
	<input type="radio" id="create-election" name="class" value="crear" onclick="crear();"/> Crear Nuevo Ibox
	<input type="radio" id="list-election" name="class" value="listar" onclick="listar();"/> Mostrar Iboxes inactivos<br />	
	
</div>
<br />
<div id="division">
</div>
