	<script type="text/javascript" charset="UTF-8">	
	function crearI(){
		$('#division').empty();
		$('#division').append('<%= link_to "Crear Ibox", new_ibox_path, :remote => true %>');
	}
	
	function buscarI(){
		$('#division').empty();
		$('#division').append('<%= j render "homeadmin/searchIboxForm"%>');
	}
	
	function listarI(){
		$('#division').empty();
		$('#division').append('<%= j render "iboxes/allInactives"%>');
	}
</script>
<%= render "shared/flash_messages" %>
Seleccione una opción.
<div id ="options">
	<input type="radio" id ="search-election" name ="class" value="buscar" onclick="buscarI();" /> Buscar Ibox por correo.
	<input type="radio" id="create-election" name="class" value="crear" onclick="crearI();"/> Crear Nuevo Ibox
	<input type="radio" id="list-election" name="class" value="listar" onclick="listarI();"/> Mostrar Iboxes inactivos<br />	
	
</div>
<br />
<div id="division">
</div>
