	<script type="text/javascript" charset="UTF-8">	
	
	function crearU(){
		$('#division2').empty();
		$('#division2').append('<%= j render "users/newAdmin" %>');
		
	}
	
	function buscarU(){
		$('#division2').empty();
		$('#division2').append('<%= j render "homeadmin/searchUserForm"%>');
		
	}
	
</script>
<%= render "shared/flash_messages" %>
Seleccione una opción.
<div id ="options2">
	<input type="radio" id ="search-election" name ="user" value="buscar" onclick="buscarU();" /> Buscar Usuario por correo.
	<input type="radio" id="create-election" name="user" value="crear" onclick="crearU();"/> Crear Nuevo Usuario	
</div>
<br />
<div id="division2">
</div>
