<%= form_for(@accessory,:remote=>true) do |f| %>
  <fieldset>
  <div class="control-group">
    <%= f.label :Nombre, :class=>"control-label"%>   
    <div class="controls">
    	<%= f.text_field :name %>
  	</div>
  </div>
  <div class="form-actions">
    <%= f.submit :Actualizar, :class => "btn btn-primary" %>
  </div>
  </fieldset>
<% end %>
